
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  line-height: 1.5;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
}



@media (prefers-color-scheme: light) {
  body {
  background-color: #fff;
  color: #242424;
  }
  .advice-body,
  .error {
    color: #ddd2d2;
  }
 
}

.page-title {
  margin: 0;
}


.wrapper-advice {
  width: 70vw;
  background-color: #3a3838;
  border-radius: 1.5rem;
  margin: 0 auto .06em;
  min-width: 265px;
  max-width: 70vw;
  word-wrap: break-word;
 padding: .06em 1.25em;
  
}

.advice-title {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: italic;
  color: #fc0467;
  font-size: 1.2rem;
  margin: 0;
}

.advice-body {
  font-size: 1.7rem;
}

.dice-btn {
  display: inline-block;
  border: 0;
  outline: 0;
 border-radius: 50%;
 width: 40px;
 height: 40px;
 background: currentColor;
}

.dice-btn:active{
  box-shadow: 2px 4px 7px 7px #ff3084;
  outline: 1px solid white;
}

/* MEDIA QUERIES */
@media (min-width: 360px) {
  .advice-title {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
  .advice-body {
    font-size: 2rem;
    padding: .1em 1em;
    margin: 0;
  }
  .wrapper-advice {
    padding: .1em;
  }
 
}
@media (min-width: 390px) {
  .advice-body {
    font-size: 2.6rem;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 2rem;
  }
  .advice-title {
    font-size: 1.9rem;
    letter-spacing: 5px;
  }
  .advice-body {
    font-size: 3rem;
  }
}

@media (min-width: 853px) {
  .advice-title {
    font-size: 2rem;
  }
  .advice-body {
    font-size: 3.2rem;
    font-weight: 800;
  }
}


@media (min-width: 1024px) {
  body {
    font-size: 2.2rem;
  }
  .advice-title {
    font-size: 2.2rem;
  }
  .advice-body {
    font-size: 3.1rem;
  }
}
